@using System;
@using DataLayer;
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-lg-12" style="padding-left:9%; padding-right:9%;">
        @*<ul class="breadcrumb">
                <li style="font-size:14px;"><a href="~/Admin/IpdDashboard">Home</a></li>
                <li style="font-size:16px;"><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
                <li style="font-size:16px;"><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
                <li style="font-size:16px;"><a href="~/Admin/IPDList">IPD List</a></li>
            </ul>*@
        <div class="panel">
            <div class="col-sm-12 col-xs-12 text-center" style="padding-bottom: 5px;">
                <h3 style="font-size:20px;"><strong>Change Password</strong></h3>
                <hr />
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <form id="formSave" class="form-horizontal" action="ChangePassword" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="IPDNo" class="control-label col-md-4 col-sm-12 col-xs-12">Old Password<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="password" id="OldPassword" class="form-control" name="OldPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PetientName" class="control-label col-md-4 col-sm-12 col-xs-12">New Password<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="password" id="NewPassword" class="form-control" name="NewPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PetientName" class="control-label col-md-4 col-sm-12 col-xs-12">Confirm New Password<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="password" id="ConfirmNewPassword" class="form-control" name="ConfirmNewPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;">
                                <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit"
                                       onclick="onSavePassword()" style="float:right;width:135px;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.homer').removeClass('homer');
    $('#MyProfile').addClass('homer');

    function onSavePassword() {
        if ($('[name*=OldPassword]').val() == ""
            || $('[name*=NewPassword]').val() == ""
            || $('[name*=ConfirmNewPassword]').val() == ""
        ) {
            utility.alert.setAlert("Change Password", "Required parameter is/are missing");
            return false;
        }
        else if ($('#NewPassword').val() != $("#ConfirmNewPassword").val()) {
            utility.alert.setAlert("Change Password", "New Password and Confirm Password are not matched");
            return false;
        }
        else {
            if (confirm("Are you sure want to Change the Password?")) {
                document.getElementById('formSave').submit();
            }
        }
    }
</script>