@using System;
@using DataLayer;
@{
    ViewBag.Title = "IPDEntry";
    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
    var mode = ViewData["Mode"].ToString();
}
<script src="~/Scripts/App/HIMS/PatientEntry.js"></script>
<div class="row">
    <div class="col-sm-12 col-lg-12" style="padding-left:9%; padding-right:9%;">
        <ul class="breadcrumb">
            <li style="font-size:14px;"><a href="~/Admin/IpdDashboard">Home</a></li>
            <li style="font-size:16px;"><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
            <li style="font-size:16px;"><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
            <li style="font-size:16px;"><a href="~/Admin/IPDList">IPD List</a></li>
        </ul>
        <div class="panel">
            <div class="col-sm-12 col-xs-12 text-center" style="padding-bottom: 5px;">
                @if (mode == "Edit")
                {
                    <h3 style="font-size:20px;"><strong>Edit Patient Detail</strong></h3>
                }
                else
                {
                    <h3 style="font-size:20px;"><strong>IPD Status & Reports</strong></h3>
                }

                <hr />
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <form id="formSave" class="form-horizontal" action="SaveIPDEntry" method="post" autocomplete="off">
                        @*<div class="form-group">
                                <label for="PatientId" class="control-label col-md-4 col-sm-12 col-xs-12">Patient ID<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="text" id="PatientId" class="form-control" name="PatientId" />
                                </div>
                            </div>*@
                        <input type="hidden" id="PatientId" name="PatientId" />
                        <div class="form-group">
                            <label for="IPDNo" class="control-label col-md-4 col-sm-12 col-xs-12">IPD No<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="IPDNo" class="form-control" name="IPDNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AdmittedDateTime" class="control-label col-md-4 col-sm-12 col-xs-12">Admitted Date Time<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="datetime-local" name="AdmittedDateTime" id="AdmittedDateTime" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PetientName" class="control-label col-md-4 col-sm-12 col-xs-12">Patient Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="PetientName" class="form-control" name="PetientName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FathersHusbandName" class="control-label col-md-4 col-sm-12 col-xs-12">Father's/Husband Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="FathersHusbandName" class="form-control" name="FathersHusbandName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DOB" class="control-label col-md-4 col-sm-12 col-xs-12">Age (In Years)<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="Age" class="form-control" name="Age" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Gender" class="control-label col-md-4 col-sm-12 col-xs-12">Gender<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Gender" class="form-control" name="Gender">
                                    <option value="">--Select--</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="control-label col-md-4 col-sm-12 col-xs-12">Address<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <textarea type="text" id="Address" class="form-control" name="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Area" class="control-label col-md-4 col-sm-12 col-xs-12">Area Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="hidden" id="hfAreaId" name="AreaId" />
                                <input type="text" id="Area" name="Area" class="form-control" />
                                @*<select id="Area" class="form-control" name="Area"></select>*@
                            </div>
                        </div>
                        <div class="form-group hidden" id="OtherAreaDiv">
                            <label for="Area" class="control-label col-md-4 col-sm-12 col-xs-12">Enter Area Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="OtherAreaName" class="form-control" name="OtherAreaName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Mobile" class="control-label col-md-4 col-sm-12 col-xs-12">Mobile Number<font color="FF0000"></font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="Mobile" maxlength="10" class="form-control" name="Mobile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Treatment" class="control-label col-md-4 col-sm-12 col-xs-12">Treatment Details<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Treatment" class="form-control" name="Treatment" multiple></select>
                            </div>
                        </div>
                        @*<div class="form-group hidden" id="OtherTreatmentDiv">
                                <label for="Treatment" class="control-label col-md-4 col-sm-12 col-xs-12">Enter Treatment<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="text" id="OtherTreatment" class="form-control" name="OtherTreatment" />
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="department" class="control-label col-md-4 col-sm-12 col-xs-12">Department Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="department" class="form-control" name="department"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IDorAadharNumber" class="control-label col-md-4 col-sm-12 col-xs-12">ID Proof Type<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                @*<input type="number" id="pincode" class="form-control" name="IDorAadharNumber" />*@
                                <select id="IDorAadharNumber" class="form-control" name="IDorAadharNumber">
                                    <option value="">--Select--</option>
                                    <option>Aadhaar card</option>
                                    <option>Ration card</option>
                                    <option>Voter card</option>
                                    <option>Passport</option>
                                    <option>PAN card</option>
                                    <option>Driving license</option>
                                    <option>State-issued Identification Card</option>
                                    <option>Student Identification Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="OtherAreaDiv">
                            <label for="Area" class="control-label col-md-4 col-sm-12 col-xs-12">Enter ID Proof Number<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="IDNumber" class="form-control" name="IDNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;">
                                <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit"
                                       onclick="onSaveIPDEntry()" style="float:right;width:135px;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    select {
        width: 280px;
    }

    .ui-autocomplete {
        overflow: auto;
        max-height: 100px;
    }
</style>

<script type="text/javascript">
    $('.homer').removeClass('homer');
    $('#IPDDetail').addClass('homer');
</script>