
@{
    ViewBag.Title = "IPDEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align:center">
                IPD Patient Details
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <form id="formSave" class="form-horizontal" action="SaveIPDEntry" method="post" autocomplete="off">
                        @*<div class="form-group">
                                <label for="PatientId" class="control-label col-md-4 col-sm-12 col-xs-12">Patient ID<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="text" id="PatientId" class="form-control" name="PatientId" />
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="IPDNo" class="control-label col-md-4 col-sm-12 col-xs-12">IPD No<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="IPDNo" class="form-control" name="IPDNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AdmittedDateTime" class="control-label col-md-4 col-sm-12 col-xs-12">Admitted Date Time<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="datetime-local" name="AdmittedDateTime" id="AdmittedDateTime" class="form-control">
                            </div>
                        </div>

                        @*<div class="form-group">
                                <label for="Title" class="control-label col-md-4 col-sm-12 col-xs-12">Title<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <select id="Title" class="form-control" name="Title">
                                        <option>--Select--</option>
                                        <option>Mr.</option>
                                        <option>Mrs.</option>
                                        <option>Miss.</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="PetientName" class="control-label col-md-4 col-sm-12 col-xs-12">Patient Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="PetientName" class="form-control" name="PetientName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Mobile" class="control-label col-md-4 col-sm-12 col-xs-12">Mobile Number<font color="FF0000"></font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="number" id="Mobile" maxlength="10" pattern="^\d{10}$" class="form-control" name="Mobile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DOB" class="control-label col-md-4 col-sm-12 col-xs-12">Age (In Years)<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="number" id="Age" class="form-control" name="Age" />
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="Email" class="control-label col-md-4 col-sm-12 col-xs-12">Email Id<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="email" id="Mobile" class="form-control" name="Email" />
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label for="DOB" class="control-label col-md-4 col-sm-12 col-xs-12">Date of Birth<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="date" id="DOB" class="form-control" name="DOB" />
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label for="MariatalStatus" class="control-label col-md-4 col-sm-12 col-xs-12">Marital Status<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <select id="MariatalStatus" class="form-control" name="MariatalStatus">
                                        <option>--Select--</option>
                                        <option>Married</option>
                                        <option>Unmarried</option>
                                        <option>Devorcy</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="Gender" class="control-label col-md-4 col-sm-12 col-xs-12">Gender<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Gender" class="form-control" name="Gender">
                                    <option>--Select--</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FathersHusbandName" class="control-label col-md-4 col-sm-12 col-xs-12">Father's/Husband Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="FathersHusbandName" class="form-control" name="FathersHusbandName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Treatment" class="control-label col-md-4 col-sm-12 col-xs-12">Treatment Details<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Treatment" class="form-control" name="Treatment"></select>
                            </div>
                        </div>
                        <div class="form-group hidden" id="OtherTreatmentDiv">
                            <label for="Treatment" class="control-label col-md-4 col-sm-12 col-xs-12">Enter Treatment<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="OtherTreatment" class="form-control" name="OtherTreatment" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="control-label col-md-4 col-sm-12 col-xs-12">Address<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <textarea type="text" id="Address" class="form-control" name="Address">  </textarea>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="state" class="control-label col-md-4 col-sm-12 col-xs-12">State Name<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <select id="state" class="form-control" name="state"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="control-label col-md-4 col-sm-12 col-xs-12">City Name<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <select id="city" class="form-control" name="city"></select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="Area" class="control-label col-md-4 col-sm-12 col-xs-12">Area Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Area" class="form-control" name="Area"></select>
                            </div>
                        </div>
                        <div class="form-group hidden" id="OtherAreaDiv">
                            <label for="Area" class="control-label col-md-4 col-sm-12 col-xs-12">Enter Area Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <input type="text" id="OtherAreaName" class="form-control" name="OtherAreaName" />
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="pincode" class="control-label col-md-4 col-sm-12 col-xs-12">Pin Code<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <input type="number" id="pincode" class="form-control" name="pincode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="religion" class="control-label col-md-4 col-sm-12 col-xs-12">Religion Name<font color="FF0000">*</font></label>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <select id="religion" class="form-control" name="religion">
                                        <option>--Select--</option>
                                        <option>Hindu</option>
                                        <option>Muslim</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="department" class="control-label col-md-4 col-sm-12 col-xs-12">Department Name<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="department" class="form-control" name="department"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IDorAadharNumber" class="control-label col-md-4 col-sm-12 col-xs-12">ID/ Aadhaar Number<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                @*<input type="number" id="pincode" class="form-control" name="IDorAadharNumber" />*@
                                <select id="IDorAadharNumber" class="form-control" name="IDorAadharNumber">
                                    <option>--Select--</option>
                                    <option>Aadhaar card</option>
                                    <option>Ration card</option>
                                    <option>Voter card</option>
                                    <option>Passport</option>
                                    <option>PAN card</option>
                                    <option>Driving license</option>
                                    <option>State-issued Identification Card</option>
                                    <option>Student Identification Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;">
                                <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit" 
                                      onclick="onSaveIPDEntry()" style="float:right;width:135px;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        fillDepartment();
        fillTreatment();
        //fillstate();
        fillArea(null);
    });

    function onSaveIPDEntry() {
        if (confirm("Are you sure want to save this IPD Entry")) {
            document.getElementById('formSave').submit();
        }
    }

    function fillstate() {
        let dropdown = $('#state');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/Getstate',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.StateId).text(entry.StateName));
                });
                dropdown.val('34');
                dropdown.change();
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('#state').on('change', function (e) {
        var valueSelected = this.value;
        fillCity(valueSelected)
    });

    function fillCity(stateId) {
        let dropdown = $('#city');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetCityByStateId',
            data: '{stateId: "' + stateId + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.CityId).text(entry.CityName));
                })
                dropdown.val('1318');
                dropdown.change();
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('#city').on('change', function (e) {
        var valueSelected = this.value;
        fillArea(valueSelected)
    });

    function fillArea(cityId = null) {
        let dropdown = $('#Area');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetAreaByCityId',
            data: '{cityId: "' + cityId + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.AreaId).text(entry.AreaName));
                });
                dropdown.append('<option value="Other">Other</option>');
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('#Area').on('change', function (e) {
        var valueSelected = this.value;
        $('#OtherAreaDiv').val('');
        if (valueSelected == "Other") {
            $('#OtherAreaDiv').removeClass('hidden');
        }
        else {
            $('#OtherAreaDiv').addClass('hidden');
        }
    });

    function fillDepartment() {
        let dropdown = $('#department');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetDepartments',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.DepartmentId).text(entry.DeparmentName));
                })
                dropdown.val('1');
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function fillTreatment() {
        let dropdown = $('#Treatment');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetTreatment',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.TreatmentId).text(entry.TreatmentName));
                })
                dropdown.append('<option value="Other">Other</option>');
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('#Treatment').on('change', function (e) {
        var valueSelected = this.value;
        $('#OtherTreatment').val('');
        if (valueSelected == "Other") {
            $('#OtherTreatmentDiv').removeClass('hidden');
        }
        else {
            $('#OtherTreatmentDiv').addClass('hidden');
        }
    });
</script>

<style type="text/css">
    select {
        width: 280px;
    }
</style>