@{
    ViewBag.Title = "IPD Status & Reports";
    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
}
<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/navigation.js"></script>
<script src="~/Scripts/App/HIMS/AdminLookup.js"></script>
<script>
    $(function () {
        $("#tabs-1").tabs();
    });
</script>
<style>
    #tabs-1 {
        font-size: 14px;
    }

    .ui-widget-header {
        background: lightpink;
        border: 1px solid #b9cd6d;
        color: lightyellow;
        font-weight: bold;
    }
</style>
<div class="container">
    <ul class="breadcrumb">
        <li style="font-size:14px;"><a href="~/Admin/IpdDashboard">Home</a></li>
        <li style="font-size:16px;"><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
        <li style="font-size:16px;"><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
        <li style="font-size:16px;"><a href="~/Admin/IPDList">IPD List</a></li>
    </ul>
    @*<input type="hidden" value="@UserData.ApplicationId" id="hdnApplicationId" />
        <input type="hidden" value="@UserData.SchemeNameId" id="hdnSchemeNameId" />*@
    <div class="col-sm-12 col-xs-12 text-center" style="padding-bottom: 5px;">
        <h3 style="font-size:20px;"><strong>IPD Status & Reports</strong></h3>
        <hr />
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="form-group col-sm-4 col-xs-12">
            <label>IPD No/Patient Name/Admit Date(dd/MM/yyyy)</label>
            <input type="text" class="form-control" value="" id="searchText">
        </div>
        <div class="form-group col-sm-1 col-xs-12">
            <button type="button" class="submit_plot_master" value="button" style="padding:7px 15px; margin-top: 23px;" id="searchPatient">Search</button>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="table-responsive" style="padding: 10px 0 10px 0; overflow-x: scroll; width: 100%; max-height: 325px; overflow-y: auto; ">
            <table class="table table_css_main_cl table-bordered">
                <tr>
                    <th class="text-center">Action</th>
                    <th class="text-center">IPD Number</th>
                    <th class="text-center">Patient Name</th>
                    <th class="text-center">Fathers/ Husband Name</th>
                    <th class="text-center">Mobile Number</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Admit Date</th>
                    <th class="text-center">Treatment</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Area</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Status Date</th>
                    <th class="text-center">Malaria Parasite</th>
                    <th class="text-center">Rapid Kit NS1</th>
                    <th class="text-center">Rapid Kit IgM</th>
                    <th class="text-center">ELISA NS1</th>
                    <th class="text-center">ELISA IgM</th>
                    <th class="text-center">ELISA Scrub Typhus</th>
                    <th class="text-center">ELISA Leptospira</th>
                </tr>
                <tbody id="tbodyData"></tbody>
            </table>
        </div>
    </div>
    <input type="hidden" name="patientId" id="patientId" />
    <div class="col-sm-12 col-xs-12 hidden" id="divDischarge" style=" height: 40px; background-color: #b7f491; color: red; padding-top: 10px; margin: 10px 10px; width: 98%;">
        Patient is already discharge/Death/Refer/Abscond...
    </div>
    <div class="col-sm-12 col-xs-12 hidden" id="divReport">
        <div id="tabs-1">
            <ul>
                <li id="LabReportTab"><a href="#tabs-2">Lab Report</a></li>
                <li id="RadioDiagnosisTab"><a href="#tabs-3">Radio Diagnosis</a></li>
                <li id="StatusTab"><a href="#tabs-4">Status</a></li>
            </ul>
            <div id="tabs-2" class="panel-body">
                <div class="table-responsive" style="padding:10px 0 10px 0;">
                    @*<form id="formSave" class="form-horizontal" action="SaveIPDLabReport" method="post" autocomplete="off">*@
                    <table class="table table_css_main_cl table-bordered">
                        <tr>
                            <th class="text-center" colspan="2">Test Report</th>
                            <th class="text-center" colspan="2">Result</th>

                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">Hb</td>
                            <td class="text-left" colspan="2">
                                <textarea type="text" id="Hb" class="form-control" name="Hb"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">Platelet count</td>
                            <td class="text-left" colspan="2">
                                <textarea type="text" id="Platelet" class="form-control" name="Platelet"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2"> Malaria parasite</td>
                            <td class="text-left">
                                <select id="Malaria" class="form-control" name="Malaria">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td><input type="datetime-local" id="malariadate" class="form-control" name="malariadate" /></td>
                        </tr>
                        <tr>
                            <td class="text-left" rowspan="2">Rapid Kit</td>
                            <td class="text-left">
                                NS1
                            </td>
                            <td>
                                <select id="RapidKitNS1Status" class="form-control" name="NS1">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="RapidKitNS1Date" class="form-control" name="NS1date" />
                            </td>
                        </tr>
                        <tr>
                            @*<td class="text-left">Rapid Kit</td>*@
                            <td class="text-left">
                                IGM
                            </td>
                            <td>
                                <select id="RapidKitIGMStatus" class="form-control" name="igM">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="RapidKitIGMDate" class="form-control" name="igMdate" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" rowspan="4">ELISA</td>
                            <td class="text-left">
                                NS1
                            </td>
                            <td>
                                <select id="ELISANS1Status" class="form-control" name="NS1">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="ELISANS1Date" class="form-control" name="NS1date" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                IGM
                            </td>
                            <td>
                                <select id="ELISAIGMStatus" class="form-control" name="igM">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="ELISAIGMDate" class="form-control" name="igMdate" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Scrub Typhus
                            </td>
                            <td>
                                <select id="ELISAScrubTyphusStatus" class="form-control" name="Scrubtyphus">
                                    <option value="">--Select--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="ELISAScrubTyphusDate" class="form-control" name="Scrubtyphusdate" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Leptospira
                            </td>
                            <td>
                                <select id="ELISALeptospiraStatus" class="form-control" name="Leptospira">
                                    <option value="">--Select Status--</option>
                                    <option>Positive</option>
                                    <option>Negative</option>
                                </select>
                            </td>
                            <td>
                                <input type="datetime-local" id="ELISALeptospiraDate" class="form-control" name="LeptospiraMdate" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">LFT</td>
                            <td class="text-left" colspan="2"><textarea type="text" id="LFT" class="form-control" name="lft"></textarea></td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">KFT</td>
                            <td class="text-left" colspan="2"><textarea type="text" id="kft" class="form-control" name="kft"></textarea></td>
                        </tr>
                        <tr>
                            <td class="text-left" rowspan="4">Blood Transfusion</td>
                            <td rowspan="2">Platelet</td>
                            <td>Random Doner Platelet</td>
                            <td>
                                <input type="text" id="BTRandomDonerPlatelet" class="form-control" name="platelet" />
                                <input type="datetime-local" id="BTRandomDonerPlateletDate" class="form-control" name="plateletDate" />
                            </td>
                        </tr>
                        <tr>
                            <td>Single Doner Platelet</td>
                            <td>
                                <input type="text" id="BTSingleDonerPlatelet" class="form-control" name="platelet" />
                                <input type="datetime-local" id="BTSingleDonerPlateletDate" class="form-control" name="plateletDate" />
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">Blood</td>
                            <td>Whole Blood Cell</td>
                            <td>
                                <input type="text" id="WholeBloodCell" class="form-control" name="platelet" />
                                <input type="datetime-local" id="WholeBloodCellDate" class="form-control" name="plateletDate" />
                            </td>
                        </tr>
                        <tr>
                            <td>Packed RBC</td>
                            <td>
                                <input type="text" id="PackedRBC" class="form-control" name="platelet" />
                                <input type="datetime-local" id="PackedRBCDate" class="form-control" name="plateletDate" />
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;">
                            <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit & Next"
                                   style="float:right;width:135px;" id="saveLabReport" />
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
            <div id="tabs-3" class="panel-body">
                <div class="table-responsive" style="padding:10px 0 10px 0;">
                    @*<form id="formSave" class="form-horizontal" action="SaveIPDEntry" method="post" autocomplete="off">*@
                    <table class="table table_css_main_cl table-bordered">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-12 col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="table table-responsive">
                                            @*<form id="formSave" class="form-horizontal" action="SaveIPDEntry" method="post" autocomplete="off">*@
                                            <p style="text-align:center"><strong>Radio Diagnosis Report</strong></p>
                                            <hr />
                                            <div class="col-sm-12 col-lg-12">
                                                <div class="col-sm-6 col-lg-6">
                                                    <label for="X-ray" class="control-label">X-ray</label>
                                                    <div class="">
                                                        <textarea type="text" id="xray" class="form-control" name="xray"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-6">
                                                    <label for="USG" class="control-label">USG</label>
                                                    <div class="">
                                                        <textarea type="text" id="USG" class="form-control" name="USG"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;margin-top:10px;">
                                                    <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit & Next"
                                                           style="float:right;width:135px;" id="saveDiagnosisReport" />
                                                </div>
                                            </div>
                                            @*</form>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                    @*</form>*@
                </div>
            </div>
            <div id="tabs-4" class="panel-body">
                <div class="table-responsive" style="padding:10px 0 10px 0;">
                    @*<form id="formSave" class="form-horizontal" action="SaveIPDEntry" method="post" autocomplete="off">*@
                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-12 col-lg-12">
                            <label for="IPDNo" class="control-label">Select Patient Status<font color="FF0000">*</font></label>
                            <div class="">
                                <select id="IPDStatus" class="form-control" name="IPDStatus">
                                    <option value="">--Select Status--</option>
                                    <option>Admit</option>
                                    <option>Discharge</option>
                                    <option>Refer</option>
                                    <option>LAMA</option>
                                    <option>DOPR</option>
                                    <option>Death</option>
                                    <option>Abscond</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-12 col-lg-12">
                            <label for="AdmittedDateTime" class="control-label">Date Time</label>
                            <div class="">
                                <input type="datetime-local" name="AdmittedDateTime" id="AdmittedDateTime" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <div class="col-sm-6 col-lg-6">
                                <label for="Address" class="control-label">Reason</label>
                                <div class="">
                                    <textarea type="text" id="Reason" class="form-control" name="Reason"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <label for="casesummary" class="control-label">Case Summary</label>
                                <div class="">
                                    <textarea type="text" id="casesummary" class="form-control" name="casesummary"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;margin-top:10px;">
                                <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit"
                                       id="saveIPDStatus" style="float:right;width:135px;" />
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 10%;">
                            <input type="button" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit"
                                   onclick=" " style="float:right;width:135px;" />
                        </div>
                    </div>*@
                @*</form>*@
            </div>
        </div>
    </div>
</div>
